OPENROUTER_API_KEY = "YOUR_OPEN_ROUTER_API_KEY"
DEVMODE=True # if true then the script run in the PRODUCTION mode
            #  else it will run the in development mode..
OPENROUTER_MODEL_NAME="nvidia/nemotron-3.5-lightning:free"